@font-face {
  font-family: Outfit;
  src: url(./font/Outfit-VariableFont_wght.ttf);
}

:root {
  --secondary-color: #f6efff;
  --placeholder-text-color: #7b6d8b;
  --text-color: #32283d;
  --head-text-color: #261f2e;
  --secondary-text-color: #b3abbc;
  --hover-color: red;
  --disabled-color: #ccc7d2;
  --outline-color: #a65efc;
}

body {
  background-color: aqua;
}
form {
  display: flex;
  min-width: 250px;
  padding: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 12px;
  background: #fff;

  /* Main Shadow */
  box-shadow: 0px 4px 15px 0px rgba(205, 173, 255, 0.25);
}

.first-divwrapper {
  background-color: #01e29c;
}
.info-head {
  height: 30px;
  align-self: stretch;
  color: var(--head-text-color);

  font-family: Outfit;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
/* 
.info-head span {
  color: #01e29c;

  font-family: Outfit;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
} */

.info-wrapper {
  /* background-color: red; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  row-gap: 20px;
  column-gap: 10px;
}

.info-feild {
  /* input container size */
  width: 48%;
  box-sizing: border-box;
}
.if-head {
  align-self: stretch;
  color: var(--text-color);

  /* reglar 18 */
  font-family: Outfit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
  width: 90%;
}
.if-head span {
  color: #e91e7f;

  /* reglar 18 */
  font-family: Outfit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
.info-feild input {
  width: 100% !important;
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 6px;
  background: var(--secondary-color);
  border: none;
  border-radius: 6px;
  color: var(--text-color);

  /* old typo/paragrph text */
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.888px; /* 161.8% */
}
.info-feild input:focus {
  outline: var(--outline-color) 2px solid;
}

.hinttext {
  color: var(--secondary-text-color);
  width: 90%;
  margin-top: 8px;

  /* Caption / Regular */
  font-family: Outfit;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

/* Selectbox style */

.select-container {
  position: relative;
  width: 105%;
  height: 49.9px;
  border-radius: 12px;
  background-color: var(--secondary-color);
}

.select-container .select {
  position: relative;
  width: 100% !important;
  height: 49.9px;
  border-radius: 12px;
}

.select-container .select::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 50%;
  right: 15px;
  transform: rotate(45deg);
  border-top: 2px solid black;
  border-left: 2px solid black;
  cursor: pointer;
  transition: transform 0.4s;
}

/* .select-container.active .select::after {
  border: none;
  border-left: 2px solid black;
  border-top: 2px solid black;
} */

.select-container.active .select::after {
  transform: rotate(225deg); /* Rotate to 360 degrees */
}

.select-container .select input {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  background: none;
  outline: none;
  border: none;
  color: black;
  cursor: pointer;
}

.select-container .option-container {
  position: absolute;
  background: var(--secondary-color);
  width: 100%;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  z-index: 1;
  height: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: 0.4s;
  max-height: 150px;
  margin-top: -6px;
}

.select-container.active .option-container {
  height: 240px;
}

.select-container .option-container::-webkit-scrollbar {
  width: 10px;
}

.select-container .option-container::-webkit-scrollbar-thumb {
  background: #a65efc;
}

.select-container .option-container .option {
  position: relative;

  /*     border-top: 1px solid rgba(0, 0, 0, 0.3); */
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.2s;
  column-gap: 8px;
  margin-bottom: 8px;
  border-radius: 12px;
  width: 95%;
  padding: 10px 0px 10px 5px;
  height: 16px;
  margin-left: 2%;
}
.select-container .option-container .option:first-child {
  margin-top: 15px;
}

.select-container .option-container .option.selected {
  background: #a65efc;
  pointer-events: none;
}

.select-container .option-container .option.selected label {
  color: white;
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: stretch;
  width: 100%;
}

.select-container .option-container .option:hover {
  background: rgba(165, 94, 252, 0.2);

  padding-left: 10px;
  color: white;
}
/* 
.select-container .option-container .option:hover label {
  color: white; 
} */
.select-container .option-container .option label {
  color: black;
  cursor: pointer;
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: stretch;
  width: 100%;
}

/* Selectbox style */
/* file uploader */
.filewrapper {
  width: 100%;
  /* height: 120px; */
}
.fileinnerwrapper {
  display: flex;
  gap: 58px;
  flex-wrap: wrap;
}
#file-upload {
  display: none;
}
.importwrapper {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 6px;
  background: var(--secondary-color);
  padding: 30px;
}

.disabled {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 6px;
  background: var(--disabled-color);
  padding: 30px;
  cursor: not-allowed;
}

.importFile {
  width: 24px;
  height: 24px;
}
.previewContainer {
  width: 100%;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  /* padding: 10px; */
}

.preContainerimport {
  display: flex;
  gap: 8px;
}

.previewContainerinner {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  position: relative;
}
.filename {
  position: absolute;
  bottom: -25px;
  left: 0;
  font-family: Outfit;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  font-weight: 400;
  text-align: center;
}

.preview-file {
  /* background-color: #01e29c; */

  display: flex;
  gap: 8px;
  align-items: center;
  border-radius: 6px;
  background: var(--secondary-color);
  position: relative;
  padding: 5px;
}
.preview-file img {
  width: 75px;
  height: 75px;
}

.remove-file {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 3px;
  right: 3px;

  background-size: contain;
  background-repeat: no-repeat;
  background: url("./assets/plus.svg");
  transform: rotate(45deg);
  fill: #690707;
  cursor: pointer;
}

.filewrapper p {
  color: #332051;

  /* regular 14 */
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: stretch;
  width: 100%;
  margin-top: 40px;
}

.desciption-head {
  width: 100%;
  align-self: stretch;
  color: #332051;

  /* medium 18 */
  font-family: Outfit;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 21.6px; /* 120% */
}

.desciption-head span {
  color: #e91e7f;

  /* medium 18 */
  font-family: Outfit;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 21.6px;
}
#descriptionbox {
  border-radius: 12px;
  background: #fcfaff;
  resize: none;
  color: #575757;

  width: 100%;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.888px;
}
#descriptionbox:focus {
  outline: #a65efc 2px solid;
}
#descriptionbox::placeholder {
  color: #575757;

  /* paragrph text */
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.888px; /* 161.8% */
}

/* descriptionbox scroll style */
#descriptionbox::-webkit-scrollbar-track {
  background-color: #b80b0b !important; /* Change the track color */
}

/* Style the scrollbar thumb */
#descriptionbox::-webkit-scrollbar-thumb {
  background-color: #ff0000 !important; /* Change the thumb color */
  border-radius: 50px; /* Add border radius */
}

/* Style the scrollbar on hover */
#descriptionbox::-webkit-scrollbar-thumb:hover {
  background-color: #690707; /* Change thumb color on hover */
}

/* submitbtn */
.submitbtn {
  display: flex;
  padding: 8px 32px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border: none;
  border-radius: 8px;
  background: #e91e7f;
  color: #fff;
  text-align: center;
  cursor: pointer;

  /* medium 18 */
  font-family: Outfit;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 21.6px; /* 120% */
}

/* add product styling starts here */
.product-detail-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  align-self: stretch;

}

.addbtnwrapper {
  width: 100%;
  /* background-color: #01e29c; */
  margin-top: -20px;
}
/* #add-product {
  display: flex;
  padding: 8px 32px;
  justify-content: flex-end;
  align-items: center;
  border-radius: 8px;
  background: #e91e7f;
} */
/* add product styling ends here */

/* popup styling */
/* Semi-transparent background overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
  z-index: 2;
}

/* Popup container */
.popupContainer {
  background-color: #fdf3f7; /* Adjust popup background color */
  width: 260px; /* Adjust popup width */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  padding: 20px;
  border-radius: 20px;
}

/* Content inside the popup container */
.popupContent {
  color: white;
  display: flex;
  flex-direction: column;
}
.popupIconWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.popupHead {
  width: 100%;
}
.popupHead p {
  color: #261f2e;
  text-align: center;

  /* H5 /  Bold */
  font-family: Outfit;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 33.6px; /* 120% */
}
.popupSubText {
  width: 100%;
  margin-top: -20px;
}
.popupSubText p {
  color: #5a496e;
  text-align: center;

  /* Body / Regular */
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.popupActionBtnWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.PopupBtn {
  background-color: #a65efc;
  color: var(--Colors-Text-White, #fff);
  width: 100%;

  /* Subtitle / Medium */
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px; /* 150% */
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  letter-spacing: 1px;
  cursor: pointer;
}

.display-none {
  display: none;
}

/* Themebtn */
.themeBtn {
  display: flex;
  padding: 8px 32px;
  align-items: center;
  border-radius: 8px;
  background: var(--outline-color);
  color: #fff;
  text-align: center;
  font-family: Outfit;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 21.6px; /* 120% */
  border: none;
  cursor: pointer;
}

/* Product Feilds */
#product-fields {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: yellow; */
  gap: 20px;
  margin-bottom: 30px;
}
.product-field {
  width: 100%;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  border: 2px solid var(--outline-color);
  margin-bottom: 20px;
}

.product-previewContainer {
  width: 95%;
  height: auto;
  background-color: var(--secondary-color);
  border-radius: 12px;
  padding: 20px;
}

.product-previewContainerInner {
  /* background-color: yellow; */
  width: 100%;
  height: auto;
  display: flex;

  gap: 12px;
}

.Product-imageWrapper {
  width: 150px;
  height: 150px;
  /* background-color: blue; */
  border-radius: 12px;
}
.Product-imageWrapper img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.product-detailsWrapper {
  width: 100%;
  height: 100%;
  /* background-color: green; */
}
.productNameWrapper p {
  color: var(--text-color);

  /* H5 /  Bold */
  font-family: Outfit;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 33.6px; /* 120% */
}
.view-sizeGuideWrapper {
  display: flex;
  /* background-color: greenyellow; */
  width: fit-content;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.view-sizeGuideWrapper span img {
  width: 14px;
  height: 14px;
}
.view-sizeGuideWrapper p {
  color: #a65efc;

  /* Subtitle / Medium */
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px; /* 150% */
  cursor: pointer;
}
.productSelection-Wrapper {
  width: 95%;
  /* background-color: var(--secondary-color); */
  border-radius: 12px;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  gap: 48px;
  flex-wrap: wrap;
}

.productSelection-Wrapper .info-feild {
  width: 45%;
}


.option-size-container {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  align-items: center;
}
.size-box {
  background-color: var(--secondary-color);
  padding: 8px 8px;
  border-radius: 12px;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.size-box p {
  color: #332051;
  text-align: center;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 25.888px; /* 161.8% */
}

.size-box:hover{
  background-color: var(--outline-color);
}
.size-box:hover p {
  color: white;
}

.sizebox_active{
  background-color: #a65efc;
  
}
.sizebox_active p{
  color: #ffffff ;
  
}


/* product color feilds */
.coloroption{
  display: flex;
  gap: 10px;
}
.coloroption label{
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  align-items: center;
}
.color-preview{
  width: 25px !important;
  height: 25px !important;
  border-radius: 6px;

}

.productlastwrapper{
  width: 100% !important;
  display: flex;
  justify-content: space-between;

}




.quantityInnerWrapper{
  display: flex;
  gap: 8px;
  justify-content:center ;
  align-items: center;
  width: max-content;

}
.qty {
  width: 132px;
  height: 40px;
  text-align: center;
  background-color: var(--secondary-color);
  outline: none;
  border: none;
  border-radius: 6px;
}
.qtybtn{
  background-color: #a65efc;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;

}
input.qtyplus { width:40px; height:40px;}
input.qtyminus { width:40px; height:40px;}

.removebtnWrapper{
  background-color: blue;
  width:200px ;
  height: 50px;
  margin-top: 50px;

}

/* media query */
@media (max-width: 768px) {
  .info-wrapper {
    /* background-color: blue; */
    flex-direction: column;
  }
  .info-feild {
    width: 100%;
  }
  .product-previewContainerInner {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .product-detailsWrapper {
    align-items: center;
  }
  .productNameWrapper p {
    text-align: center;
  }
  .view-sizeGuideWrapper {
    width: 100%;
    align-items: center;
  }
  .productSelection-Wrapper {
    flex-direction: column;
  }
  .productSelection-Wrapper .info-feild {
    width: 100%;
  }
  
}
@media (max-width:560px){
  .productlastwrapper{
    flex-direction: column;
    gap: 24px;
    
  }
  .quantityInnerWrapper{
    width: 100%;
  }
  .qty{
    width: 80%;
  }
  .removebtnWrapper{
    width: 100%;
    margin-top: 0;
  }
  
}
